.Rproj.user
.Rhistory
.RData
.Ruserdata
HORTO.CPG
HORTO.DBF
HORTO.PRJ
HORTO.SHP
HORTO.SHX
HORTO.shp.xml
Monitoramento de risco de incendios.Rproj
add_legend_decreasing.R
calcular_IMA.R
dados_arauco.txt
dados_inmet.txt
estacoes_arauco.cpg
estacoes_arauco.dbf
estacoes_arauco.prj
estacoes_arauco.qpj
estacoes_arauco.shp
estacoes_arauco.shx
informe.Rmd
informe.html
interpolar_IMA.R
